@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-background: #030303;
  --color-border: rgba(255, 255, 255, 0.15);
  --color-button-border: rgba(255, 255, 255, 0.15);
  --color-primary-button-background: #f1f1f1;
  --color-primary-button-text: #0f0f0f;
  --color-primary-button-hover-background: #d9d9d9;
  --color-primary-text:#fff;
  --color-secondary-text: rgba(255, 255, 255, 0.7);
  --color-card-background:rgba(255,255,255,.15)
}

@theme {
  --color-primary-bg: #f9f9f9;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-text-primary: #ffffff80;
  --color-button-bg: #ffffff14;
  --color-light-button-hover-bg: rgba(255, 255, 255, 0.64);
  --color-light-button-border-bg: rgba(255, 255, 255, 0);
  --color-light-button-hover-text: rgba(0, 27, 0);
  --color-text-primary-button: rgb(19, 21, 23);
  --color-primary-button-bg: #ffffff;
  --color-primary-button-hover-bg: #ebeced;
  --color-primary-button-text-color: rgb(19, 21, 23);
  --color-secondary-white: rgba(255, 255, 255, 0.79);
  --color-divider: rgba(255, 255, 255, 0.08);
  --color-overlay-bg: #222222bb;
  --color-template: #13370f;
  --animate-normal: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  --color-tertiary-color-alpha: rgba(255, 255, 255, 0.5);
  --color-form-extra-bg: rgba(255, 255, 255, 0.08);
  --color-form-extra-text: rgba(255, 255, 255, 0.64);
  --color-meta-row-hover-border: rgba(255, 255, 255, 0.08);
  --color-meta-row-hover-bg: rgba(255, 255, 255, 0.16);

  --color-form-main-bg: rgba(255, 255, 255, 0.08);
  --color-form-main-sec: rgba(255, 255, 255, 0.3);
  --blur-normal: blur(16px);

  --color-card-bg: rgba(255, 255, 255, 0.04);
  --color-card-border: rgba(255, 255, 255, 0.04);
  --color-card-border-hover: rgba(255, 255, 255, 0.16);
  --color-card-primary-text: rgba(255, 255, 255);
  --color-card-secondary-text: #ffffffc9;
  --color-card-tertiary-text: #ffffff80;
}

html,
body,
#root {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.05rem;
}

.no-zoom {
  touch-action: none; /* no pinch or pan on this element */
  -ms-touch-action: none; /* for IE11 */
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-arrows {
  -moz-appearance: textfield;
}